doctype html
html(lang="en")
	head
		title='SpaceX Local Listings Alert System Command Center!'
		link(rel='stylesheet/less', type='text/css', href='/css/main.less')
		script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.3.1/less.min.js" type="text/javascript")
	body
		.lights
			label.button.button-red
				input(type='checkbox', data-id='7')
				| &#x9;&#x9;&#x9;
				span.hole
					span.switch
						span.one
						| &#x9;&#x9;&#x9;&#x9;&#x9;
						span.zero
			| &#x9;&#x9;
			label.button.button-green
				input(type='checkbox', data-id='8')
				| &#x9;&#x9;&#x9;
				span.hole
					span.switch
						span.one
						| &#x9;&#x9;&#x9;&#x9;&#x9;
						span.zero
		
				
	
		.data
			.buyers-count
				p Total Local Listings Buyers
				.count
					p 0
			
			.alert-history
				p Recent alerts
				ul
					each event in events
						li #{event}