.lights {
		margin-left: auto;
		margin-right: auto; 
		width: 300px;
	
	.button {
		width: 100px;
		height: 100px;
		cursor: pointer;
		float: left;
		border-radius: 20px;
		border: 5px solid;


	}

	.green {
		float: left;		
		background-color: green;
	}
	
	.red {
		margin-left: 30px;
		background-color: red;
	}
}

.data {
	padding-top: 30px;
	padding-left: 200px;
	padding-right: 200px;
	clear: both;

	.buyers-count {
		float: left;
		clear: both;
			
		.count {
		
		width: 200px;	
		border: 1px solid;
			
		}
	
	}
	
	.alert-history {
		float: right;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid; 
	}
}
